<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <p>&copy; 2013 - 2014 by <a href="/">Aravind H U </a>.</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/aboutme">About Me</a></li>
                    <li><a href="/contactme">Contact Me</a></li>
                    <li><a data-reveal-id="disclaimer" href="#">Disclaimer</a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>
<div id="disclaimer" class="reveal-modal" data-reveal>
    <h2>Disclaimer</h2>

    <p class="lead"> The information contained in this website is for general information purposes only.
        I try to keep the information up to date and correct, I make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose.
    </p>
    <p class="lead">
        Any reliance you place on such information is therefore strictly at your own risk.
    </p>
    <a class="close-reveal-modal">&#215;</a>
</div>
<script src="/js/vendor/modernizr.js"></script>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/jquery.masonry.js"></script>
<script src="/js/site.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
</body>
</html>