<aside class="large-3 columns">

    <div class="panel">
        <p>
            <img src="/img/aravind.jpeg">
        </p>
        <p>
           Hi I am Aravind Udayashankar, an Autodidactist and a software engineer. I’ve been working in the software industry since 2009. I am currently playing the role of Software Developer, at <a target="_blank" href="https://www.aconex.com/"> Aconex Ltd </a>, a company which makes quality software to help people collaborate on the world’s largest construction projects.
        </p>

        <a href="/aboutme">Click here to know more about me &rarr;</a>
    </div>
</aside>