<aside class="large-3 columns">

    <div class="panel">
        <p>
            <img src="/img/aravind.jpeg">
        </p>
        <p> Hi, I am Aravind Udayashankara, I am a software developer specializing in building high quality scalable web applications
            by applying <a target="_blank" href="http://en.wikipedia.org/wiki/Systems_Development_Life_Cycle">SDLC</a> methodologies like <a target="_blank" href="http://en.wikipedia.org/wiki/Agile_software_development">Agile</a> and using open source technologies like
            <a target="_blank" href="http://php.net/">PHP</a>, <a target="_blank" href="https://www.ruby-lang.org/en/">Ruby</a>, <a target="_blank" href="http://rubyonrails.org/">Rails</a>, <a target="_blank" href="http://nodejs.org/">NodeJS </a>and many more .
        </p>
        <a href="/aboutme">Click here to know more about me &rarr;</a>
    </div>
</aside>