<div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar data-options="sticky_on: large">
        <ul class="title-area">

            <li class="name">
                <h1>
                    <a href="/">
                        Aravind Udayashankara's Blog
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li class="divider"></li>
                <li><a href="/">Home</a></li>
                <li class="divider"></li>
                <li><a href="/blog">Blog</a></li>
                <li class="divider"></li>
                <li><a href="/aboutme">About Me</a></li>
                <li class="divider"></li>
                <li><a href="/contactme">Contact Me</a></li>
                <li class="divider"></li>
                <li><a data-reveal-id="disclaimer" href="#">Disclaimer</a></li>
                <li class="divider"></li>
            </ul>
        </section>
    </nav>
</div>