{%- include header.html -%}

<div class="container-fluid pb-5">
    <main role="main">
        <div class="blog-main ml-4 mr-4">
            <h2 class="pb-4 mb-4 mt-4 border-bottom">
                {{ page.title | escape }}
            </h2>
            <div class="blog-post">
                <p class="blog-post-meta">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {{ page.date | date: date_format }}
                    </time>
                    {%- if page.modified_date -%}
                    ~
                    {%- assign mdate = page.modified_date | date_to_xmlschema -%}
                    <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
                        {{ mdate | date: date_format }}
                    </time>
                    {%- endif -%}
                </p>
                {{ content }}
            </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->
    </main><!-- /.container -->
</div>

{%- include footer.html -%}
